@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Scrollbar */
@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #cbd5e1;
        /* slate-300 (Light) */
        border-radius: 9999px;
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #475569;
        /* slate-600 (Dark) */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #94a3b8;
        /* slate-400 */
    }
}

/* Base Body Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f8fafc;
    /* slate-50 (Light) */
}

.dark ::-webkit-scrollbar-track {
    background: #0f172a;
    /* slate-900 (Dark) */
}

::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    /* slate-300 (Light) */
    border-radius: 9999px;
    border: 2px solid #f8fafc;
    /* Padding effect (Light) */
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #334155;
    /* slate-700 (Dark) */
    border: 2px solid #0f172a;
    /* Padding effect (Dark) */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}